.description {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}
.avatar {
  border-radius: 50px;
}

.name {
  font-weight: 700;
  color: #222;
}
.tag {
  color: #545454;
  font-weight: 400;
}
.location {
  color: #545454;
  font-weight: 400;
}
